## Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20,'c':30}

### Taking list in Series

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

### Taking index also in this series

In [5]:
pd.Series(data=my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

### Taking array in Series

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

### Taking dictionary in Series

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [11]:
ser1 = pd.Series([1,2,3,4],['India', 'USA', 'Germany', 'Japan'])

In [12]:
ser1

India      1
USA        2
Germany    3
Japan      4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],['India', 'USA', 'Italy', 'Japan'])

In [14]:
ser2

India    1
USA      2
Italy    5
Japan    4
dtype: int64

In [15]:
ser1['India']

1

In [16]:
ser3 = pd.Series(data=labels)

In [17]:
ser3

0    a
1    b
2    c
dtype: object

In [18]:
ser3[0]

'a'

In [19]:
ser1

India      1
USA        2
Germany    3
Japan      4
dtype: int64

In [20]:
ser2

India    1
USA      2
Italy    5
Japan    4
dtype: int64

In [22]:
ser1 + ser2 #on addition the datatype changed into float so that we don't loose any information

Germany    NaN
India      2.0
Italy      NaN
Japan      8.0
USA        4.0
dtype: float64